@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  body {
    background-image: url('/assets/background_pattern.png');
    background-size: 50%;
    background-position: center;
    background-repeat: repeat;
    animation: moveBackground 60s linear infinite;
  }

  /* Textos y efectos customs */
  .text-shadow-green {
    text-shadow: 5px 8px 35px rgba(21, 145, 93, 0.6); 
  }
  .text-shadow-orange{
    text-shadow: 5px 8px 35px rgba(145, 71, 21, 0.6); 
  }
  .text-shadow-gian {
    text-shadow: 0px 0px 20px rgba(14, 149, 167, 0.6);
  }
  .text-shadow-proyectos {
    text-shadow: 0px 2px 20px rgba(14, 80, 167, 0.6);
  }
  .text-mmd {
    color: rgb(38, 186, 245);
  }
  .bg-mmd {
    color: rgb(38, 186, 245);
  }

  .hover-darken {
    transition: background-color 0.3s ease;
  }
  .hover-darken:hover {
    background-color: rgba(31, 41, 55, 0.8); /* un gris más oscuro con opacidad */
  }

  .banner-container {
    width: 100%;
    height: 200px;
  }
}

/* Textos y efectos customs */
.computacion-home {
  color: #008000;
}

.filosofia-home {
  color: #d85c14;
}

/* Navbar */
#show-navbar {
  display: none;
}

:root {
  --animation-speed: 10s; /* Valor por defecto */
}

@keyframes moveBackground {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1000px 1000px; /* se moverá 1000px en x e y */
  }
}

.animated-background {
  animation: moveBackground var(--animation-speed) linear infinite;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in 0.5s ease-out forwards;
}

.animated-element-slide-r {
  opacity: 1;
  transform: translateX(0);
}
.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards;
}

.animated-element-slide-l {
  opacity: 1;
  transform: translateX(-100%);
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-out forwards;
}

.animated-element-fade-in {
  opacity: 0;
}

/* Iconos */
.rotate-180 {
  transform: rotate(180deg);
}

.rotate-icon {
  transition: transform 0s ease;
}

.rotate-icon.rotate {
  transform: rotate(180deg);
}

/* timeline */
.timeline-line {
  border-left: 4px solid #1e3a8a;
  position: absolute;
  height: 100%;
}
.timeline-node {
  background-color: #1e3a8a;
  width: 28px; 
  height: 28px;
  border-radius: 50%;
  position: absolute;
  left: -12px
}

/* Estilos adaptados para pantallas medianas (p.ej., tablets) */
@media (max-width: 768px) {
  .timeline-line {
    border-left: 2.5px solid #1e3a8a;
  }
  .timeline-node {
    width: 17px;
    height: 17px;
    left: -8px
  }
}

/* Estilos adaptados para pantallas pequeñas (p.ej., móviles) */
@media (max-width: 480px) {
  .timeline-line {
    border-left: 2px solid #1e3a8a;
  }
  .timeline-node {
    width: 14px;
    height: 14px;
    left: -6px
  }
}

.console {
  background-color: #1e1e1e; /* Color de fondo de la consola */
  color: #dcdcdc; /* Color del texto */
  font-family: monospace; /* Fuente monoespaciada */
  font-size: 16px;
  padding: 5px;
  border-radius: 10px; /* Bordes redondeados */
  overflow:hidden; /* Permitir el desbordamiento */
  line-height: 2;
  word-wrap: break-word; /* Permite que las palabras largas se rompan y salten de línea */
}
.comment {
  color: #6a9955; /* Color para comentarios */
}
.string {
  color: #d19a66; /* Color para cadenas */
}
.function {
  color: #61afef; /* Color para funciones */
}
.number {
  color: #d55fde; /* Color para números */
}
.keyword {
  color: #c678dd; /* Color para palabras clave */
}
